<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head">
    ${select('*')}
    <link rel="stylesheet" href="${g.site_url + 'css/application.css'}" type="text/css" media="screen" charset="utf-8"/>
    <script src="${g.site_url + 'scripts/jquery-1.7.1.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-dropdown.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-transition.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-carousel.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-tab.js'}"></script>
    <script src="${g.site_url + 'scripts/main.js'}"></script>
  </head>
  <xi:include href="layout_base.html" />
</html>
