<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head">
    ${select('meta|title|link[@rel!="icon"]|script')}
    <link rel="stylesheet" href="${g.site_url + 'css/application.css'}" type="text/css" media="screen" charset="utf-8" />
    <link rel="icon" href="img/dadosgovbr.ico" />
    <link rel="feed" href="/feed/" title="Notícias do Portal Brasileiro de Dados Abertos" />
    <script src="${g.site_url + 'scripts/jquery-1.7.1.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-dropdown.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-transition.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-carousel.js'}"></script>
    <script src="${g.site_url + 'scripts/bootstrap-tab.js'}"></script>
    <script src="${g.site_url + 'scripts/main.js'}"></script>
  </head>
    <div id="brasil"><span></span></div>
    <header py:match="//div[@class='header outer']">
        <div class="container">
            <div id="zoom">
              <a href="#plus" onclick="resizeText(1)" >A+</a>
              <a href="#less" onclick="resizeText(-1)">A-</a>
            </div>
            <h1 id="site_logo"><a href="/">dados.gov.br</a></h1>
            
              <ul id="news">
                  <li id="feed"><a rel="feed" href="/feed/" title="Inscrever-se no feed de notícias">feed</a></li>
                  <li id="twitter"><a href="http://twitter.com/dadosgovbr" title="Microblog no Twitter">twitter</a></li>
                  <li id="identica"><a href="http://identi.ca/dadosgovbr" title="Microblog no identica">identica</a></li>
              </ul>
            
            <nav>
              <ul class="nav pills">
                <li class="dropdown" id="menu1">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"> Dados 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/dataset?q=">Catálogo</a></li>
                    <li><a href="/outras-iniciativas/">Outras iniciativas</a></li>
                  </ul>
                </li>
                <li class="dropdown" id="menu2">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2"> Participe 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/eventos/">Eventos</a></li>
                    <li><a href="/comunidade/">Comunidade</a></li>
                    <li><a href="/dev/">Desenvolvimento do portal</a></li>
                    <li><a href="/contato/">Sugestões</a></li>
                  </ul>
                </li>
                <li class="dropdown" id="menu3">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3"> Aplicativos 
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">
                    <li><a href="/aplicativos/">Disponíveis</a></li>
                    <li><a href="/aplicativos/envie/">Envie o seu</a></li>
                  </ul>

                </li>
                <li class="dropdown" id="menu4">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4"> Institucional 
                    <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">
                    <li><a href="/sobre/">Sobre o portal</a></li>
                    <li><a href="/faq/">Perguntas frequentes</a></li>
                    <li><a href="/cadastrar-organizacao/">Catalogue seus dados</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/contato/"> Contato </a>
                </li>
              </ul>
              <a href="/governo/" id="governo"> Governo </a>
            </nav>
        </div>
    </header>

    <div py:match="//div[@class='footer outer']>" py:attrs="select('@*')">
        <footer>
        <div id="sitemap">
          <h3> Mapa do site </h3>
          <ul>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
            <li>
              <a href=""> Dominio Publico </a>
            </li>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
          </ul>
        </div>
        <div id="parceiros">
          <h3> Parceiros </h3>
          <ul>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
            <li>
              <a href=""> Dominio Publico </a>
            </li>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
          </ul>
        </div>
        <div id="code">
          <h3> Código </h3>
          <ul>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
            <li>
              <a href=""> Dominio Publico </a>
            </li>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
          </ul>
        </div>
        <div id="about">
          <h3> Saiba mais </h3>
          <ul>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
            <li>
              <a href=""> Dominio Publico </a>
            </li>
            <li>
              <a href=""> Governo Eletrônico </a>
            </li>
            <li>
              <a href=""> Lei de acesso a informação </a>
            </li>
          </ul>
        </div>
        </footer>
    </div>

  <xi:include href="layout_base.html" />
</html>
