<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Welcome</py:def>
    <div py:match="//div[@id='content']" class="front-page">
    <div id="container">
      <div role='main'>

        <form action="${h.url_for(controller='package', action='search')}" id="search" method="GET">
          <input class="search-field" name="q" type="text" placeholder="busca" id="busca" />
          <input type="submit" alt="buscar" value="" id="btnbusca" />
        </form>
        <section id="featureddata">
          <h1> Dados em destaque </h1>
          <article>
          <h2><a href="#">Open data is the raw material of 'new industrial revolution'‎</a></h2>
          <p>But what is the point of open data? Even those who applaud the commitment to transparency that progressively releasing this information demonstrates need to ...</p>
          </article>
          <article>
          <h2><a href="#">Economia online gira US$ 46 bilhões no Brasil</a></h2>
          <p>A economia dos negócios online gira US$ 46 bilhões por ano no Brasil, o que equivale a 2,2% do PIB (produto interno bruto), segundo uma pesquisa ...</p>
          </article>
          <article>
          <h2><a href="#">Open data community to tell government what to publish‎</a></h2>
          <p>The private sector and the broader open data community are to have a greater influence over the release of public sector data, ministers have said at the ...</p>
          </article>
        </section>

        <section id="new">
          <py:if test="defined(c.articles)">
            <py:for each="link, published_date, title, description in c.articles">
              <article>
              <span class="datanoticia">${published_date}</span><h2><a href="${link}">${title}</a></h2>
              <p>${description}</p>
              </article>
            </py:for>
          </py:if>
        </section>

        <section id="data_by_category">
          <h1> Dados por etiqueta </h1>
          <p>
           <py:for each="tag in c.top_tags">
            <a href="${g.site_url+'/tag/'+tag['name']}">${tag['name']}</a>
           </py:for>
          </p>
        </section>
        
        <section id="top_apps">
          <ul class="nav nav-tabs" id="top_apps_tabs">
            <li class="active">
              <a href="#acessados" data-toggle="tab">+ Acessados </a>
            </li>
            <li>
              <a href="#recentes" data-toggle="tab">+ Recentes </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="acessados">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Conjunto de dados</th>
                      <th>Último mês</th>
                      <th>Totais</th>
                    </tr>
                  </thead>
                  <tbody>
                   <py:for each="package, recent, ever in c.top_packages">
                      <tr>
                        <td>${h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name))}
                        </td>
                        <td>${recent}</td>
                        <td>${ever}</td>
                      </tr>
                   </py:for>
                  </tbody>
                </table>
            </div>

            <div class="tab-pane" id="recentes">
                <!--<table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Conjunto de dados</th>
                      <th>Organização</th>
                      <th>Quando</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tr>
                    <td><a href="#">Servidores do poder executivo federal</a></td>
                    <td>Controladoria Geral da União</td>
                    <td>hoje</td>
                  </tr>
                  <tr>
                    <td><a href="#">Convênis do poder executivo federal</a></td>
                    <td>Controladoria Geral da União</td>
                    <td>ontem</td>
                  </tr>
                  <tr>
                    <td><a href="#">Cadastro Nacional de Empresas Inidôneas...</a></td>
                    <td>Controladoria Geral da União</td>
                    <td>19/03/2012</td>
                  </tr>
                  <tr>
                    <td><a href="#">Informações Legislativas da Câmara dos...</a></td>
                    <td>Controladoria Geral da União</td>
                    <td>18/03/2012</td>
                  </tr>
                  <tr>
                    <td><a href="#">Fornecedores do Executivo Federal</a></td>
                    <td>Controladoria Geral da União</td>
                    <td>17/03/2012</td>
                  </tr>
                </table>-->
                ${c.recently_changed_packages_activity_stream}
            </div>
        </div>

        <script>
          $(function () {
            $('.nav-tabs a:first').tab('show')
          })
        </script>
        </section>

        <section id="apps">
          <ul>
            <div id="myCarousel" class="carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                    <li>
                      <img src="" alt="" />
                      <h2> Aplicativo </h2>
                      <p> 8-bit nulla before they sold out quinoa nostrud stumptown, williamsburg</p>
                    </li>
                    <li>
                      <img src="" alt="" />
                      <h2> Aplicativo </h2>
                      <p>Ad fixie whatever tempor fap, godard beard typewriter tumblr gastropub kogi</p>
                    </li>
                </div>
                <div class="item">
                    <li>
                      <img src="" alt="" />
                      <h2> Aplicativo </h2>
                      <p>Ad fixie whatever tempor fap, godard beard typewriter tumblr gastropub kogi</p>
                    </li>
                    <li>
                      <img src="" alt="" />
                      <h2> Aplicativo </h2>
                      <p>Photo booth deserunt kale chips mustache occupy officia odio, biodiesel forage.</p>
                    </li>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </ul>
        </section>

      </div> <!-- div role main -->
  </div>
  </div>
  <xi:include href="layout.html" />
</html>

