@import "twitter_bootstrap/variables";
@import "twitter_bootstrap/mixins";
@import "twitter_bootstrap/reset";
@import "twitter_bootstrap/scaffolding";
@import "twitter_bootstrap/type";
@import "twitter_bootstrap/forms";
@import "twitter_bootstrap/dropdowns";
@import "twitter_bootstrap/carousel";
@import "twitter_bootstrap/navs";
@import "twitter_bootstrap/tables";

@import "grid";

$sitewidth: 980px;
$sectionmargin: 12px;
$iconsize: 36px;

@mixin menu-button($light-color, $dark-color) {
    background: -moz-linear-gradient(top, $light-color 0%, $dark-color);
    background: -webkit-gradient(linear, left top, left bottom, from($light-color), to($dark-color));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid $dark-color;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
    text-shadow: 0px -1px 1px rgba(000,000,000,0.5), 0px 1px 0px rgba(255,255,255,0.3);
    &:hover {
        background: -moz-linear-gradient(top, $dark-color 0%, $light-color);
        background: -webkit-gradient(linear, left top, left bottom, from($dark-color), to($light-color));
        -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 3px 4px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 4px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
}

body{
    font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
    p { font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif; }
    ul{
        margin-left:0px;
        margin-top:0px;
    }
}

#brasil:after{
    background-color: #006B0A;
    border-bottom-color: #FFB400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    content: " ";
    display: block;
    height: 1px;
    text-align: center;
    width: $sitewidth;
}

#brasil{
    height: 28px;
    /*background: #F1D800;*/
    width: 100%;
    text-align: center;
    background-color: #7F7F7F;

    span {
        background-image: url("../img/bg/barra-brasil-v3-cinza.gif");
        width: $sitewidth;
        background-position: right bottom;
        height: 28px;
        background-color: transparent;
        display: block;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin: -2px auto;
    }
}

#main{
  margin-top: $header-height + 20;
  width: $sitewidth;
  #minornavigation{
    border:0px;
  }
  #content{
    margin-left: 1em;
  }
  .page_heading{
    margin-left: 1em;
  }

  a:visited{
    color: #607890;
  }
}

#wrap{
    @include container;
    width: $sitewidth; // Fix it to responsive
    max-width: $sitewidth;
    background: white;
    $header-height: 260px;

    header{
        background: url("../img/bg/bg_header.png") 0 0 repeat-x;
        position: absolute;
        left: 0;
        width: 100%;
        height: $header-height;
        >.container {
            width: $sitewidth;
            max-width: $sitewidth;
            height: 100%;
            margin: 0 auto;
            background: url("../img/bg/bg_header_over.png") 0 0 no-repeat;
        }
        #zoom{
            @include column(1, true);
            margin-top: 10px;
            float: right;
            text-align: center;
            padding: 2px 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.2);
            a{
                text-decoration: none;
                color: #000;
                margin-left: 10px;
                &:first-child { margin-left: 0px; }
            }
        }
        #site_logo{
            @include column(3);
            margin-top: 10px;
            $alturalogo: 162px;
            height: $alturalogo;
            width: 366px;
            background-image: url("../img/elm/logo.png");
            background-repeat: no-repeat;
            overflow: hidden;
            a {
                display: block;
                height: $alturalogo;
                padding-top: $alturalogo;
            }
        }
        #news{
            clear: both;
            @include column(2+1/4);
            float: right;
            height: 35px;
            margin-top: -50px;
            li {
                display: block;
                float: left;
                margin-right: 15px;
                height: $iconsize;
                overflow: hidden;
                a {
                    height: $iconsize;
                    width: $iconsize;
                    overflow: hidden;
                    background-position: 0 0;
                    background-image:url("../img/bg/bts_redes.png");
                    display: block;
                    padding-top: 35px;
                }
            }
            #twitter a{
                background-position: -$iconsize 0;         
            }
            #identica a{
                background-position: -$iconsize*2 0;
            }
        }
        nav{
            clear: both;
            margin-top: 25px;
            float: left;
            width: 100%;
            a {
                font-size: 13px;
            }
            ul.nav{
                @include column(9);
                list-style: none;
                > li{
                    margin-right: 20px;
                    float: left;
                    @include clearfix();
                    > a{
                        color: #ffffff;
                        padding: 7px 15px;
                        @include menu-button(#548cc0, #3e6992);
                    }
                }
            }
            a#governo{
                @include column(1, true);
                text-align: center;
                color: #ffffff;
                padding: 7px 15px;
                float: right;
                @include menu-button(#82c917, #208712);
            }
        }
    }

  div[role='main']{
    @include row();
    margin-top: 15px;

    section{
      background: #ECECEC;
      -moz-border-radius: 5px;
      border-radius: 5px;
      >:first-child{
        margin-top: $sectionmargin;
        li{
          margin-top: 0;
        }
      }
      .nav-tabs{
        margin-top:0;
        margin-bottom:0;
        a{
          margin-top:0;
        }
      }
      h1, p, h2, span{
        margin-left: $sectionmargin;
        margin-right: $sectionmargin;
      }
      h1 {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 1em;
      }
      h2{
        font-size: 14px;
        line-height: 140%;
      }
    }
    

    form#search, #featureddata, #top_apps{
      @include column(7);
    }

    #new, #top_tags{
      @include column(5);
    }

    #featureddata, #top_apps,  #top_tags{
      margin-top: 20px;
      height: 248px;
    }
    
    #top_tags .tags{
        margin-left: 1em;
        li {
            //background: #AFC6E9;
            border: none;
            display: inline-block;
            font-weight: normal;
            list-style-type: none;
            padding: 0 3px 2px;
        }
    }
    
    form#search{
      //background: #CCC;
      height: 60px;
      margin-bottom: 0;
    }
	
	#busca{
	  height: 60px;
	  width: 476px;
	  font-size: 23px;
	  line-height: 40px;
	}

	#btnbusca{
	   height: 60px;
	   width: 60px;
	   background-image: url("../img/bg/busca.png");
       background-repeat: no-repeat;
	}
	
    #new{
      height: 330px;
      margin-top: -60px;
      p{
        padding-bottom: 4px;
        border-bottom: 1px solid darkgray;
      }
      span{
        float:right;
        color:gray;
        margin-top: 1em;
      }
    }
    #apps{
      margin-top: 20px;
      @include column(12);
      ul{
        overflow: hidden;
        padding: 20px 30px;
        list-style: none;
        margin: 0;
        -moz-border-radius: 5px;
        border-radius: 5px;
        .carousel-inner {
            margin-left: 136px;
        }
        li{
          @include column(4);
          margin-top: 0px;
          h2{
            margin: 0 {
              top: 20px;
              bottom: 10px;
            }
            font-weight: 700;
          }
          img{
            width: 110px;
            height: 110px;
            float: left;
            margin-right: 10px;
            background: #3AAA35;
          }

          p{
            font-size: 13px;
            line-height: 18px;
            width: 148px;
            float: left;
            margin-left: 5px;
          }
        }
      }
    }
  }

}

.footer.outer {

    position: absolute;
    left: 0;
    width: 100%;
    height: 230px;
    background: url("../img/bg/bg_footer.jpg") 0 0 repeat-x;
    color: #FFF;
    a, h3 { color: inherit; }
 
    footer{

        width: $sitewidth;
        max-width: $sitewidth;
        margin: 0 auto;

        padding: 15px 2px 25px;
        @include clearfix;
        div{
            @include column(3);
            ul{
                list-style: none;
                margin: 0;
                li {
                    &:before { content: "\25B8 \2003"; }
                }
            }
        }

        h3 {
            margin-bottom: 15px;
        }

    }
}


